---
---

@import "{{ site.theme }}";

/* 화면 폭을 90%까지 넓히는 코드 */
.wrapper {
  max-width: 90% !important; 
  width: 90% !important;
}

/* 모바일에서는 여백 유지 */
@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 95% !important;
  }
}
