---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 90% !important;
  width: 90% !important;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 95% !important;
  }
}
